<li class = "col-md-4" id = "<%= dom_id(comment) %>">
  <%= comment.body %>
  <p class = 'text-muted posted-by'>(<%= comment.user_full_name %>)</p>
  <% if can? :manage, comment %>
  <%= link_to "delete", [@post, comment],
                        method: :delete,
                        remote: true,
                        data: { confirm: "Are you sure? "} %>
  <% end %>
</li>
