$brand-primary: rgba(#856efe, 0.72);
@import "bootstrap";

body {
  font-family: 'Open Sans', sans-serif;
}

div.alert {
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
}


.logo {
  font-family: "Courier"
}

#exCollapsingNavbar2 > ul {
    >li:nth-child(4) {
      float: right;
    }
    >li:nth-child(3) {
      float: right;
    }
    >li:nth-child(2) {
      float: right;
    }
    >li:nth-child(5) {
      float: right;
    }
}
// SIGN UP

.title {
  padding: 30px 50px;
}

// posts

.posts {
  padding: 0;
  list-style-type: none;
}
.posted-by {
  font-size: 0.75em;
  line-height: 0.8em;
}


// comments
ul.comments-list {
  list-style-type: none;
  padding-left: 0;
}
